# -----------------------
# VS Code settings
# -----------------------
.vscode/

# -----------------------
# Compiled class files
# -----------------------
*.class

# -----------------------
# Temporary files
# -----------------------
*.tmp
*.log

# -----------------------
# JavaFX SDK folder
# -----------------------
openjfx-21.0.9_windows-x64_bin-sdk/

# -----------------------
# IDE specific files
# -----------------------
*.idea/
*.iml

# -----------------------
# Operating system files
# -----------------------
.DS_Store
Thumbs.db